.admin-container {
    width: 80%;
    margin: 30px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-smaller-content {
    margin-left: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.admin-h1, .admin-h2 {
    text-align: center;
}

.admin-form-group {
    margin-bottom: 15px;
}

.admin-form-group label {
    display: block;
    margin-bottom: 5px;
}

.admin-form-group input, .admin-form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.admin-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-table, .admin-th, .admin-td {
    border: 1px solid #ddd;
}

.admin-th, .admin-td {
    padding: 10px;
    text-align: left;
}

.admin-main {
    display: flex;
    justify-content: center;
}

.articles-container {
    width: 700px;
    margin: 30px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
