.content {
    flex: 1;
}

.container-kosong {
    height: calc(100vh - 200px); /* Adjust this value based on your layout */
}

p{
    font-size: 22px;
    font-weight: 300;
    font-style: oblique;
}

.container-kosong-kaloada{
    height: 20px;
}

.favorite-btn-container {
    padding-left: 20px;
    padding-bottom: 10px; /* Adjust this value to move the star to the right */
}

.fixed-size-img-favorites {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
}