.form-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-inline .input-group.sort-group {
    flex-shrink: 0;
    width: 150px;
}

.form-inline .input-group.search-group {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.form-inline .input-group.search-group .form-control {
    flex-grow: 1;
    margin-right: 10px;
}

.form-inline .input-group-append .btn {
    height: calc(2.25rem + 2px); /* Match the height of the input and button */
}

/* Ensure consistent card height */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body .mt-auto {
    margin-top: auto;
}

.favorite-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.card .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

