.project-details-container {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    flex-direction: column;
}

.project-inside-container {
    display: flex;
}

.project-details-desc {
    margin-left: 20px;
}

.project-details-carousel-image {
    height: 400px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures images are resized and cropped to fit */
}
.project-details-carousel-indicators li {
    background-color: rgb(31, 31, 31); /* Color for the bullets */
}
.project-details-carousel-control-prev-icon,
.project-details-carousel-control-next-icon {
    background-color: rgb(30, 30, 30); /* Doesn't work right now */
}
