.project-details-container {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    flex-direction: column;
}

.project-inside-container {
    display: flex;
}

.project-details-desc {
    margin-left: 20px;
    width: 30%;
}

.project-details-carousel-image {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.project-details-carousel-indicators li {
    background-color: rgb(31, 31, 31);
}

.project-details-carousel-control-prev-icon,
.project-details-carousel-control-next-icon {
    background-color: rgb(30, 30, 30);
}