/* Add this to index.css or create register.css and include it in register.blade.php */
.register-container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    background: #ededed;
    border-radius: 20px;
    text-align: center;
    height: 400px;

}

.register-container h1 {
    font-size: 36px;
}

.register-form-group {
    margin-bottom: 15px;
    text-align: left;
}

.register-form-group label {
    display: block;
    margin-bottom: 5px;
}

.register-input {
    width: 100%;
    font-size: 0.8rem;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-button:hover {
    background-color: #616161;
}


.register-textcluster {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.register-textcluster input{
    width: 290px;
    height: 25px;
}

.register-insides-container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}


.register-logo {
    display: flex;
    flex-direction: column;
}

.register-logo img {
    margin-bottom: 10px;
}

.alert {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    font-size: 0.9em;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.alert ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
