.team-member {
    text-align: center;
    margin-bottom: 20px;
}

.team-member img {
    width: 100%;
    height: auto;
}

.team-member.full-width img {
    max-width: 100%;
    height: auto;
}

.full-width {
    text-align: left;
}

.img-fluid {
    max-width: 30%;
    height: auto;
}

.team-member.d-flex {
    justify-content: space-between;
}